<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="admin/students">
                <span class="menu-title">Students</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="admin/addStudent">
                <span class="menu-title">Add student</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="admin/professors">
                <span class="menu-title">Professors</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="admin/addProfessor">
                <span class="menu-title">Add professor</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="admin/addWay">
                <span class="menu-title">Add way</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="admin/subjects">
                <span class="menu-title">Subjects</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="admin/addSubject">
                <span class="menu-title">Add subject</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="admin/openExamPeriod">
                <span class="menu-title">Open Exam Period</span>
            </a>
        </li>
    </ul>
</nav>