<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="student/info">
                <span class="menu-title">Info</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="student/examRegistrations">
                <span class="menu-title">Exam Registrations</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="student/notPassedExams">
                <span class="menu-title">Not passed Exams</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="student/registerExam">
                <span class="menu-title">Register Exam</span>
            </a>
        </li>
        
    </ul>
</nav>